<header class="max-w-5xl mx-auto mt-10 mb-20 px-5 py-5 lg:px-0">
  <nav class="flex items-center justify-between max-w-7xl mx-auto">
    <!-- Logo -->
    <div class="w-[150px]">
      <a href="{{ routes.root_url }}" class="text-white text-xl font-bold">
        <img src="{{ 'nabati.png' | asset_url }}" alt="Nabati" width="150" height="40">
      </a>
    </div>

    <!-- menu items -->
    <ul class="flex justify-end space-x-4 ml-auto">
      {% for link in linklists['main-menu'].links %}
        <li>
          <a href="{{ link.url }}" class="font-serif text-red-700 hover:text-red-900 transition-colors duration-300">
            {{- link.title -}}
          </a>
        </li>
      {% endfor %}
      <li>
        <a
          onclick="openCartDrawer()"
          class="cart-toggle font-serif text-red-700 hover:text-red-900 transition-colors duration-300"
        >
          Cart ({{ cart.item_count }})
        </a>
        {% comment %} <button onclick="openCartDrawer()" class="cart-toggle">Cart ({{ cart.item_count }})</button> {% endcomment %}
      </li>
    </ul>
  </nav>
</header>
