<header class="max-w-7xl mx-auto mt-10 mb-20 px-5 py-5 xl:px-0">
  <nav class="flex items-center justify-between max-w-7xl mx-auto">
    <!-- Logo -->
    <div class="w-[150px]">
      <a href="{{ routes.root_url }}" class="text-white text-xl font-bold">
        <img src="{{ 'nabati.png' | asset_url }}" alt="Nabati" width="150" height="40">
      </a>
    </div>

    <!-- menu items -->
    <ul class="flex justify-end space-x-4 ml-auto">
      {% comment %}
        {% for link in linklists['main-menu'].links %}
          <li>
            <a href="{{ link.url }}" class="font-serif text-red-700 hover:text-red-900 transition-colors duration-300">
              {{- link.title -}}
            </a>
          </li>
        {% endfor %}
      {% endcomment %}
      <li>
        <button
          onclick="openCartDrawer()"
          class="cart-toggle font-serif text-red-700 hover:text-red-900 transition-colors duration-300 cursor-pointer"
          aria-label="Open shopping cart"
        >
          Cart (<span class="cart-count">{{ cart.item_count }}</span>)
        </button>
      </li>
    </ul>
  </nav>
</header>
